.block_ {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    line-height: 1.2;
    text-align: center;
    user-select: none;
    margin: 0 0 8pt;
    padding: 0
    }
.block_1 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    user-select: none;
    margin: 0 0 8pt;
    padding: 0
    }
.block_2 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    line-height: 1.2;
    user-select: none;
    margin: 0 0 8pt;
    padding: 0
    }
.block_3 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    line-height: 1.2;
    text-align: center;
    text-indent: 36pt;
    user-select: none;
    margin: 0 0 8pt;
    padding: 0
    }
.block_4 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.2;
    text-align: center;
    user-select: none;
    margin: 0 0 8pt;
    padding: 0
    }
.block_5 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    font-style: italic;
    line-height: 1.2;
    user-select: none;
    margin: 0 0 8pt;
    padding: 0
    }
.block_6 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    line-height: 1.2;
    text-align: center;
    user-select: none;
    margin: 0 0 10pt;
    padding: 0
    }
.block_7 {
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    -webkit-user-select: none;
    display: block;
    font-style: italic;
    line-height: 1.2;
    text-align: center;
    user-select: none;
    margin: 0 0 10pt;
    padding: 0
    }
.calibre {
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    height: auto;
    line-height: 1.2;
    max-height: 100%;
    max-width: 100%;
    width: auto
    }
.calibre2 {
    font-weight: bold;
    line-height: 1.2
    }
.calibre3 {
    font-style: italic;
    line-height: 1.2
    }
.calibre4 {
    display: block;
    line-height: 1.2
    }
.calibre5 {
    display: block;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre6 {
    font-weight: bold
    }
.calibre7 {
    font-style: italic
    }
.calibre8 {
    text-decoration: underline
    }
.calibre9 {
    color: red;
    font-family: "Arial", "sans-serif";
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre10 {
    line-height: 1.2
    }
.calibre11 {
    font-weight: normal;
    line-height: 1.2
    }
.calibre12 {
    color: black;
    font-family: "Times New Roman", "serif";
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre13 {
    font-family: "Arial", "sans-serif";
    font-size: 1.5em;
    line-height: 1.2
    }
.calibre14 {
    display: block;
    font-size: 1em;
    text-align: center;
    margin: 0 5pt;
    padding: 0
    }
.calibre15 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0
    }
.calibre16 {
    height: auto;
    max-height: 100%;
    max-width: 100%;
    width: auto;
    margin: 0;
    padding: 0
    }
.msonormal {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.75em;
    line-height: normal;
    margin: 0 0 0.0001pt
    }
.msonormal1 {
    display: block;
    font-family: "Calibri", "sans-serif";
    font-size: 0.75em;
    line-height: normal;
    text-autospace: none;
    margin: 0 0 0.0001pt
    }
.tab {
    line-height: 1.2;
    white-space: pre-wrap
    }
.text_ {
    color: #0563C1;
    line-height: 1.2;
    text-decoration: underline
    }
.text_1 {
    font-style: italic;
    font-weight: bold;
    line-height: 1.2
    }
.text_2 {
    color: #0563C1;
    font-weight: bold;
    line-height: 1.2;
    text-decoration: underline
    }
.wordsection {
    display: block;
    page: WordSection1
    }
.pcalibre:link {
    color: #0563C1;
    text-decoration: underline
    }
.pcalibre1:visited {
    color: #954F72;
    text-decoration: underline
    }
